<!DOCTYPE html>
<html lang="en">

<head>
  <title>찾아줘, 타임즈!</title>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- 구글폰트 -->
  <link href="https://fonts.googleapis.com/css?family=Stylish&amp;display=swap" rel="stylesheet">

  <script>
  </script>
  <style>
    /* 출처: https://gocoder.tistory.com/569 [고코더 IT Express] */
    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <div class='Logo'>
    <br><img src="{{ url_for('static', filename='LOGO.png') }}">
  </div>
  <br>
  <div id="map"></div>
  <script>
    var map;
    function initMap() {
      let start_point = { lat: 37.554069, lng: 126.969698 };
      map = new google.maps.Map(document.getElementById('map'), {
        center: start_point,
        zoom: 15
      });
      let icon = 
      let marker = new google.maps.Marker({ 
        position: start_point, map: map 
        icon: image
        });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBtS9nwN1wVeZ8kXjoNGenFVFvIZm4hXc&callback=initMap"
    async defer></script>
  </div>
  <div class="dropdown-country">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      국가
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</body>

</html>